.MyDragHandleClassName{
    cursor: move;
    /* height: 40px; */
    display:inline;
    line-height: 38px;
    /* background: #61dafb; */
    max-height: 480x;
  }
  .react-grid-layout{
    border:1px solid red;
    width: 100%;
    /* background-color: beige; */
    /* height: 200px !important; */
  }
  .react-grid-item{
    background-color: lavender;
  }